table{
	margin: auto;
	text-align: center;
	font-family: '华文行楷', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.container {
	width: 100%;
	margin:0px;
	border:1px solid gray;
	line-height:150%;
}

div.header, div.footer {
	padding:0.5em;
	color:white;
	background-color:gray;
	clear:left;
}

.right{
	float: right;
	font-family: 'Times New Roman', Times, serif;
}
div.left {
	float:left;
	width:150px;
	margin:0;
	padding:0.5em;
}

div.content {
	min-height: 80%;
	margin-left:190px;
	border-left:1px solid gray;
	padding:1em;
	background-image: url('body.jpg');
}

.body{
	background-color:rgb(92, 218, 223);
}