{% extends "base.html" %}
{% block title %} 课程清单 {% end %}

{% block css %}
{% end %}

{% block js %}
<script src="{{static_url('course.js')}}" type="text/javascript"></script>
{% end %}

{% block content %}
<button id="add_course" class="button">添加课程信息</button>
<div id="form_change" style="display: none;">
    <form id="change" >
        <tr><td>课程号：</td>
            <input type="text" name="cno" value="">
        </tr>
        <tr><td>课程名：</td>
            <input type="text" name="cname" value="">
        </tr>
        <tr><td>课序号：</td>
            <input type="text" name="ordn" value="">
        </tr>
        <tr><td>学分：</td>
            <input type="text" name="credit" value="">
        </tr>
        <tr><td>周几：</td>
            <input type="text" name="day" value="">
        </tr>
        <tr><td>第几大节课：</td>
            <input type="text" name="ctime" value="">
        </tr>
        <tr><td>教室：</td>
            <input type="text" name="room" value="">
        </tr>
        <tr><td><td> 
        	<input type="submit" value="增加" class="button" >
        	<button id="form_close" class="button">关闭</button>
        </td></tr>
    </form>
</div>
<div id="course_forms" >
<form id="course_form" >
    <tr>
        <td>课程号：</td>
        <td><input type="text" name="cno" value=""></td>
        <td><input type="submit" value="搜索" class="button"></td>
    </tr>
</form> 
</div>
<div id="list">
    <table border=1>
        <thead>
        <tr>
            <th style="width:10rem">课程号</th>
            <th style="width:10rem">课程名</th>
            <th style="width:6rem">学分</th>
            <th style="width:10rem">教学楼</th>
            <th style="width:4rem">教室</th>
            <th style="width:10rem">第几周</th>
            <th style="width:6rem">第几节课</th>
            <th style="width:6rem;">操作</th>
        </tr>
        </thead>
        <tbody id="mytbody">
        </tbody> 
    </table>
</div>

{% end %}

