{% extends "./base.html" %}
{% block title %} 成绩单 {% end %}

{% block css %}
{% end %}

{% block js %}
<script src="{{static_url('grade.js')}}" type="text/javascript"></script>
{% end %}

{% block content %}
<div id="grade_div">
    <form id="grade_form">
        <td>学号：
            <input name="sno" value="">
        </td>
         <br>
        <td>课程号：
            <input name="cno" value=""> 
        </td><br>
        
        <td><input type="submit" value="点我搜索"></td>
    </form>
    <table border="1">
    <thead>
        <tr>
            <td style="width: 6rem;">学号</td>
            <td style="width: 6rem;">课程号</td>
            <td style="width: 10rem;">课程名</td>
            <td style="width: 3rem;">学分</td>
            <td style="width: 3rem;">成绩</td>
            <td style="width: 8rem;">操作</td>
        </tr>
    </thead>
    <tbody id="grade_tbody">

    </tbody>
    </table>

</div>
<button id="add_grade">增加课程成绩</button>
<div id="grade_change" style="display: none;">
    <form id="change">
        <td>学号：
            <input name="sno" value="">
        </td><br>
        <td>课程号：
            <input name="cno" value="">
        </td><br>
        <td>成绩：
            <input name="grade" value="">
        </td><br>
        <input type="submit" value="修改">
        <button id="grade_close">关闭</button>
    </form>

</div>
{% end %}

